<a href="https://colab.research.google.com/github/AndersonGabrielCalasans/BootCamp-SoulCode-Engenharia-Dados/blob/main/SoulCode/ED7_MongoDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Importação das Bibli

In [1]:
#pip install pymongo[srv]
import pymongo
from pymongo import MongoClient

##Conector do mongo atlas

In [2]:
# Enderenço do cluster
uri = "mongodb+srv://cluster0.2qynihy.mongodb.net/?authSource=%24external&authMechanism=MONGODB-X509&retryWrites=true&w=majority"

# Altenticando o Mongo
client = MongoClient(uri, tls=True, tlsCertificateKeyFile='/content/password_mongodb.pem')

In [3]:
#Escolha do DataBase e Coleção
db = client['Aula1']
colecao = db['primeira']

In [4]:
#verificar conexão/Qtd . documentos da coleção
colecao.count_documents({})

0

##Create

In [5]:
colecao.insert_one({'nome':'cliente 12','idade':19})

In [6]:
colecao.insert_many([{'nome':'Suzana','idade':31},{'nome':'Paulo','idade':23},{'idade':60}])

In [7]:
#Retorna o id do documento criado
dados = {'nome':'Victor','idade':27}
info = colecao.insert_one(dados)
print(info.inserted_id)

638a0d4f51fb7add13550207

In [8]:
n = 10
y = 20

while n<50:
  dados = {'nome':'cliente '+str(y), 'idade':n}
  i = colecao.insert_one(dados)
  n+=1
  y-=1
  print(i.inserted_id)

638a0d4f51fb7add13550208
638a0d5051fb7add13550209
638a0d5051fb7add1355020a
638a0d5051fb7add1355020b
638a0d5051fb7add1355020c
638a0d5051fb7add1355020d
638a0d5051fb7add1355020e
638a0d5051fb7add1355020f
638a0d5151fb7add13550210
638a0d5151fb7add13550211
638a0d5151fb7add13550212
638a0d5151fb7add13550213
638a0d5151fb7add13550214
638a0d5151fb7add13550215
638a0d5151fb7add13550216
638a0d5251fb7add13550217
638a0d5251fb7add13550218
638a0d5251fb7add13550219
638a0d5251fb7add1355021a
638a0d5251fb7add1355021b
638a0d5251fb7add1355021c
638a0d5251fb7add1355021d
638a0d5351fb7add1355021e
638a0d5351fb7add1355021f
638a0d5351fb7add13550220
638a0d5351fb7add13550221
638a0d5351fb7add13550222
638a0d5351fb7add13550223
638a0d5351fb7add13550224
638a0d5451fb7add13550225
638a0d5451fb7add13550226
638a0d5451fb7add13550227
638a0d5451fb7add13550228
638a0d5451fb7add13550229
638a0d5451fb7add1355022a
638a0d5451fb7add1355022b
638a0d5551fb7add1355022c
638a0d5551fb7add1355022d
638a0d5551fb7add1355022e
638a0d5551fb7add1355022f

##Read

In [9]:
#Buscar arquivos em toda a coleção
for x in colecao.find():
  print(x)

{'_id': ObjectId('638a0d4f51fb7add13550203'), 'nome': 'cliente 12', 'idade': 19}
{'_id': ObjectId('638a0d4f51fb7add13550204'), 'nome': 'Suzana', 'idade': 31}
{'_id': ObjectId('638a0d4f51fb7add13550205'), 'nome': 'Paulo', 'idade': 23}
{'_id': ObjectId('638a0d4f51fb7add13550206'), 'idade': 60}
{'_id': ObjectId('638a0d4f51fb7add13550207'), 'nome': 'Victor', 'idade': 27}
{'_id': ObjectId('638a0d4f51fb7add13550208'), 'nome': 'cliente 20', 'idade': 10}
{'_id': ObjectId('638a0d5051fb7add13550209'), 'nome': 'cliente 19', 'idade': 11}
{'_id': ObjectId('638a0d5051fb7add1355020a'), 'nome': 'cliente 18', 'idade': 12}
{'_id': ObjectId('638a0d5051fb7add1355020b'), 'nome': 'cliente 17', 'idade': 13}
{'_id': ObjectId('638a0d5051fb7add1355020c'), 'nome': 'cliente 16', 'idade': 14}
{'_id': ObjectId('638a0d5051fb7add1355020d'), 'nome': 'cliente 15', 'idade': 15}
{'_id': ObjectId('638a0d5051fb7add1355020e'), 'nome': 'cliente 14', 'idade': 16}
{'_id': ObjectId('638a0d5051fb7add1355020f'), 'nome': 'cliente 13', 'idade': 17}
{'_id': ObjectId('638a0d5151fb7add13550210'), 'nome': 'cliente 12', 'idade': 18}
{'_id': ObjectId('638a0d5151fb7add13550211'), 'nome': 'cliente 11', 'idade': 19}
{'_id': ObjectId('638a0d5151fb7add13550212'), 'nome': 'cliente 10', 'idade': 20}
{'_id': ObjectId('638a0d5151fb7add13550213'), 'nome': 'cliente 9', 'idade': 21}
{'_id': ObjectId('638a0d5151fb7add13550214'), 'nome': 'cliente 8', 'idade': 22}
{'_id': ObjectId('638a0d5151fb7add13550215'), 'nome': 'cliente 7', 'idade': 23}
{'_id': ObjectId('638a0d5151fb7add13550216'), 'nome': 'cliente 6', 'idade': 24}
{'_id': ObjectId('638a0d5251fb7add13550217'), 'nome': 'cliente 5', 'idade': 25}
{'_id': ObjectId('638a0d5251fb7add13550218'), 'nome': 'cliente 4', 'idade': 26}
{'_id': ObjectId('638a0d5251fb7add13550219'), 'nome': 'cliente 3', 'idade': 27}
{'_id': ObjectId('638a0d5251fb7add1355021a'), 'nome': 'cliente 2', 'idade': 28}
{'_id': ObjectId('638a0d5251fb7add1355021b'), 'nome': 'cliente 1', 'idade': 29}
{'_id': ObjectId('638a0d5251fb7add1355021c'), 'nome': 'cliente 0', 'idade': 30}
{'_id': ObjectId('638a0d5251fb7add1355021d'), 'nome': 'cliente -1', 'idade': 31}
{'_id': ObjectId('638a0d5351fb7add1355021e'), 'nome': 'cliente -2', 'idade': 32}
{'_id': ObjectId('638a0d5351fb7add1355021f'), 'nome': 'cliente -3', 'idade': 33}
{'_id': ObjectId('638a0d5351fb7add13550220'), 'nome': 'cliente -4', 'idade': 34}
{'_id': ObjectId('638a0d5351fb7add13550221'), 'nome': 'cliente -5', 'idade': 35}
{'_id': ObjectId('638a0d5351fb7add13550222'), 'nome': 'cliente -6', 'idade': 36}
{'_id': ObjectId('638a0d5351fb7add13550223'), 'nome': 'cliente -7', 'idade': 37}
{'_id': ObjectId('638a0d5351fb7add13550224'), 'nome': 'cliente -8', 'idade': 38}
{'_id': ObjectId('638a0d5451fb7add13550225'), 'nome': 'cliente -9', 'idade': 39}
{'_id': ObjectId('638a0d5451fb7add13550226'), 'nome': 'cliente -10', 'idade': 40}
{'_id': ObjectId('638a0d5451fb7add13550227'), 'nome': 'cliente -11', 'idade': 41}
{'_id': ObjectId('638a0d5451fb7add13550228'), 'nome': 'cliente -12', 'idade': 42}
{'_id': ObjectId('638a0d5451fb7add13550229'), 'nome': 'cliente -13', 'idade': 43}
{'_id': ObjectId('638a0d5451fb7add1355022a'), 'nome': 'cliente -14', 'idade': 44}
{'_id': ObjectId('638a0d5451fb7add1355022b'), 'nome': 'cliente -15', 'idade': 45}
{'_id': ObjectId('638a0d5551fb7add1355022c'), 'nome': 'cliente -16', 'idade': 46}
{'_id': ObjectId('638a0d5551fb7add1355022d'), 'nome': 'cliente -17', 'idade': 47}
{'_id': ObjectId('638a0d5551fb7add1355022e'), 'nome': 'cliente -18', 'idade': 48}
{'_id': ObjectId('638a0d5551fb7add1355022f'), 'nome': 'cliente -19', 'idade': 49}

`$lt = Menor que | $gt = maior que | $lte = Menor igual | $gte = Maior e igual | $ne = Diferente`

In [10]:
#Localizar por parametro especifico
busca = {'idade':{'$gte':18}}

doc = colecao.find(busca)

for x in doc:
  print(x)

{'_id': ObjectId('638a0d4f51fb7add13550203'), 'nome': 'cliente 12', 'idade': 19}
{'_id': ObjectId('638a0d4f51fb7add13550204'), 'nome': 'Suzana', 'idade': 31}
{'_id': ObjectId('638a0d4f51fb7add13550205'), 'nome': 'Paulo', 'idade': 23}
{'_id': ObjectId('638a0d4f51fb7add13550206'), 'idade': 60}
{'_id': ObjectId('638a0d4f51fb7add13550207'), 'nome': 'Victor', 'idade': 27}
{'_id': ObjectId('638a0d5151fb7add13550210'), 'nome': 'cliente 12', 'idade': 18}
{'_id': ObjectId('638a0d5151fb7add13550211'), 'nome': 'cliente 11', 'idade': 19}
{'_id': ObjectId('638a0d5151fb7add13550212'), 'nome': 'cliente 10', 'idade': 20}
{'_id': ObjectId('638a0d5151fb7add13550213'), 'nome': 'cliente 9', 'idade': 21}
{'_id': ObjectId('638a0d5151fb7add13550214'), 'nome': 'cliente 8', 'idade': 22}
{'_id': ObjectId('638a0d5151fb7add13550215'), 'nome': 'cliente 7', 'idade': 23}
{'_id': ObjectId('638a0d5151fb7add13550216'), 'nome': 'cliente 6', 'idade': 24}
{'_id': ObjectId('638a0d5251fb7add13550217'), 'nome': 'cliente 5', 'idade': 25}
{'_id': ObjectId('638a0d5251fb7add13550218'), 'nome': 'cliente 4', 'idade': 26}
{'_id': ObjectId('638a0d5251fb7add13550219'), 'nome': 'cliente 3', 'idade': 27}
{'_id': ObjectId('638a0d5251fb7add1355021a'), 'nome': 'cliente 2', 'idade': 28}
{'_id': ObjectId('638a0d5251fb7add1355021b'), 'nome': 'cliente 1', 'idade': 29}
{'_id': ObjectId('638a0d5251fb7add1355021c'), 'nome': 'cliente 0', 'idade': 30}
{'_id': ObjectId('638a0d5251fb7add1355021d'), 'nome': 'cliente -1', 'idade': 31}
{'_id': ObjectId('638a0d5351fb7add1355021e'), 'nome': 'cliente -2', 'idade': 32}
{'_id': ObjectId('638a0d5351fb7add1355021f'), 'nome': 'cliente -3', 'idade': 33}
{'_id': ObjectId('638a0d5351fb7add13550220'), 'nome': 'cliente -4', 'idade': 34}
{'_id': ObjectId('638a0d5351fb7add13550221'), 'nome': 'cliente -5', 'idade': 35}
{'_id': ObjectId('638a0d5351fb7add13550222'), 'nome': 'cliente -6', 'idade': 36}
{'_id': ObjectId('638a0d5351fb7add13550223'), 'nome': 'cliente -7', 'idade': 37}
{'_id': ObjectId('638a0d5351fb7add13550224'), 'nome': 'cliente -8', 'idade': 38}
{'_id': ObjectId('638a0d5451fb7add13550225'), 'nome': 'cliente -9', 'idade': 39}
{'_id': ObjectId('638a0d5451fb7add13550226'), 'nome': 'cliente -10', 'idade': 40}
{'_id': ObjectId('638a0d5451fb7add13550227'), 'nome': 'cliente -11', 'idade': 41}
{'_id': ObjectId('638a0d5451fb7add13550228'), 'nome': 'cliente -12', 'idade': 42}
{'_id': ObjectId('638a0d5451fb7add13550229'), 'nome': 'cliente -13', 'idade': 43}
{'_id': ObjectId('638a0d5451fb7add1355022a'), 'nome': 'cliente -14', 'idade': 44}
{'_id': ObjectId('638a0d5451fb7add1355022b'), 'nome': 'cliente -15', 'idade': 45}
{'_id': ObjectId('638a0d5551fb7add1355022c'), 'nome': 'cliente -16', 'idade': 46}
{'_id': ObjectId('638a0d5551fb7add1355022d'), 'nome': 'cliente -17', 'idade': 47}
{'_id': ObjectId('638a0d5551fb7add1355022e'), 'nome': 'cliente -18', 'idade': 48}
{'_id': ObjectId('638a0d5551fb7add1355022f'), 'nome': 'cliente -19', 'idade': 49}

In [11]:
#Localizar por parametro exato
busca = {'idade':20}

doc = colecao.find(busca)

for x in doc:
  print(x)

{'_id': ObjectId('638a0d5151fb7add13550212'), 'nome': 'cliente 10', 'idade': 20}

In [12]:
busca = {'nome':'cliente 12'}

doc = colecao.find(busca)

for x in doc:
  print(x)

{'_id': ObjectId('638a0d4f51fb7add13550203'), 'nome': 'cliente 12', 'idade': 19}
{'_id': ObjectId('638a0d5151fb7add13550210'), 'nome': 'cliente 12', 'idade': 18}

In [13]:
busca = {'nome':{'$in' : ['cliente 10','cliente 2','cliente 3']}}

doc = colecao.find(busca)

for x in doc:
  print(x)

{'_id': ObjectId('638a0d5151fb7add13550212'), 'nome': 'cliente 10', 'idade': 20}
{'_id': ObjectId('638a0d5251fb7add13550219'), 'nome': 'cliente 3', 'idade': 27}
{'_id': ObjectId('638a0d5251fb7add1355021a'), 'nome': 'cliente 2', 'idade': 28}

In [14]:
busca = {'idade':{'$in' : [18 , 19]}}

doc = colecao.find(busca)

for x in doc:
  print(x)

{'_id': ObjectId('638a0d4f51fb7add13550203'), 'nome': 'cliente 12', 'idade': 19}
{'_id': ObjectId('638a0d5151fb7add13550210'), 'nome': 'cliente 12', 'idade': 18}
{'_id': ObjectId('638a0d5151fb7add13550211'), 'nome': 'cliente 11', 'idade': 19}

In [15]:
busca = {'nome':'cliente 12','idade': 18}

doc = colecao.find(busca)

for x in doc:
  print(x)

{'_id': ObjectId('638a0d5151fb7add13550210'), 'nome': 'cliente 12', 'idade': 18}

In [16]:
busca = {'$or':[{'nome':'IGOR GONDIM'},{'idade':25}]}

doc = colecao.find(busca)

for x in doc:
  print(x)

{'_id': ObjectId('638a0d5251fb7add13550217'), 'nome': 'cliente 5', 'idade': 25}

##Update | Atualização

In [17]:
busca = {'idade':{'$gte':18}}

modifica = {'$set':{'emancipado':'SIM'}}

colecao.update_many(busca , modifica)

In [18]:
#atualização Simples
busca = {'idade':{'$lt':18}}

modifica = {'$set':{'emancipado':'NAO'}}

colecao.update_many(busca , modifica)

In [19]:
#atualização com or
busca = {'$or':[{'nome':'ANDRÉ'},{'idade':27}]}

modifica = {'$set':{'achou':'SIM'}}

colecao.update_many(busca , modifica)

In [20]:

busca = {'idade':{'$gte':18}}

doc = colecao.find(busca)

for x in doc:
  print(x)

{'_id': ObjectId('638a0d4f51fb7add13550203'), 'nome': 'cliente 12', 'idade': 19, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d4f51fb7add13550204'), 'nome': 'Suzana', 'idade': 31, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d4f51fb7add13550205'), 'nome': 'Paulo', 'idade': 23, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d4f51fb7add13550206'), 'idade': 60, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d4f51fb7add13550207'), 'nome': 'Victor', 'idade': 27, 'emancipado': 'SIM', 'achou': 'SIM'}
{'_id': ObjectId('638a0d5151fb7add13550210'), 'nome': 'cliente 12', 'idade': 18, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5151fb7add13550211'), 'nome': 'cliente 11', 'idade': 19, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5151fb7add13550212'), 'nome': 'cliente 10', 'idade': 20, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5151fb7add13550213'), 'nome': 'cliente 9', 'idade': 21, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5151fb7add13550214'), 'nome': 'cliente 8', 'idade': 22, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5151fb7add13550215'), 'nome': 'cliente 7', 'idade': 23, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5151fb7add13550216'), 'nome': 'cliente 6', 'idade': 24, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5251fb7add13550217'), 'nome': 'cliente 5', 'idade': 25, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5251fb7add13550218'), 'nome': 'cliente 4', 'idade': 26, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5251fb7add13550219'), 'nome': 'cliente 3', 'idade': 27, 'emancipado': 'SIM', 'achou': 'SIM'}
{'_id': ObjectId('638a0d5251fb7add1355021a'), 'nome': 'cliente 2', 'idade': 28, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5251fb7add1355021b'), 'nome': 'cliente 1', 'idade': 29, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5251fb7add1355021c'), 'nome': 'cliente 0', 'idade': 30, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5251fb7add1355021d'), 'nome': 'cliente -1', 'idade': 31, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5351fb7add1355021e'), 'nome': 'cliente -2', 'idade': 32, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5351fb7add1355021f'), 'nome': 'cliente -3', 'idade': 33, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5351fb7add13550220'), 'nome': 'cliente -4', 'idade': 34, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5351fb7add13550221'), 'nome': 'cliente -5', 'idade': 35, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5351fb7add13550222'), 'nome': 'cliente -6', 'idade': 36, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5351fb7add13550223'), 'nome': 'cliente -7', 'idade': 37, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5351fb7add13550224'), 'nome': 'cliente -8', 'idade': 38, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5451fb7add13550225'), 'nome': 'cliente -9', 'idade': 39, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5451fb7add13550226'), 'nome': 'cliente -10', 'idade': 40, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5451fb7add13550227'), 'nome': 'cliente -11', 'idade': 41, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5451fb7add13550228'), 'nome': 'cliente -12', 'idade': 42, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5451fb7add13550229'), 'nome': 'cliente -13', 'idade': 43, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5451fb7add1355022a'), 'nome': 'cliente -14', 'idade': 44, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5451fb7add1355022b'), 'nome': 'cliente -15', 'idade': 45, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5551fb7add1355022c'), 'nome': 'cliente -16', 'idade': 46, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5551fb7add1355022d'), 'nome': 'cliente -17', 'idade': 47, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5551fb7add1355022e'), 'nome': 'cliente -18', 'idade': 48, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5551fb7add1355022f'), 'nome': 'cliente -19', 'idade': 49, 'emancipado': 'SIM'}

##Delete | APAGAR ou Deletar

In [21]:
colecao.delete_one({'nome':'IGOR GONDIM'})

In [22]:
busca = {'idade':{'$gte':18}}

doc = colecao.find(busca)

for x in doc:
  print(x)

{'_id': ObjectId('638a0d4f51fb7add13550203'), 'nome': 'cliente 12', 'idade': 19, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d4f51fb7add13550204'), 'nome': 'Suzana', 'idade': 31, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d4f51fb7add13550205'), 'nome': 'Paulo', 'idade': 23, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d4f51fb7add13550206'), 'idade': 60, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d4f51fb7add13550207'), 'nome': 'Victor', 'idade': 27, 'emancipado': 'SIM', 'achou': 'SIM'}
{'_id': ObjectId('638a0d5151fb7add13550210'), 'nome': 'cliente 12', 'idade': 18, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5151fb7add13550211'), 'nome': 'cliente 11', 'idade': 19, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5151fb7add13550212'), 'nome': 'cliente 10', 'idade': 20, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5151fb7add13550213'), 'nome': 'cliente 9', 'idade': 21, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5151fb7add13550214'), 'nome': 'cliente 8', 'idade': 22, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5151fb7add13550215'), 'nome': 'cliente 7', 'idade': 23, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5151fb7add13550216'), 'nome': 'cliente 6', 'idade': 24, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5251fb7add13550217'), 'nome': 'cliente 5', 'idade': 25, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5251fb7add13550218'), 'nome': 'cliente 4', 'idade': 26, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5251fb7add13550219'), 'nome': 'cliente 3', 'idade': 27, 'emancipado': 'SIM', 'achou': 'SIM'}
{'_id': ObjectId('638a0d5251fb7add1355021a'), 'nome': 'cliente 2', 'idade': 28, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5251fb7add1355021b'), 'nome': 'cliente 1', 'idade': 29, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5251fb7add1355021c'), 'nome': 'cliente 0', 'idade': 30, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5251fb7add1355021d'), 'nome': 'cliente -1', 'idade': 31, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5351fb7add1355021e'), 'nome': 'cliente -2', 'idade': 32, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5351fb7add1355021f'), 'nome': 'cliente -3', 'idade': 33, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5351fb7add13550220'), 'nome': 'cliente -4', 'idade': 34, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5351fb7add13550221'), 'nome': 'cliente -5', 'idade': 35, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5351fb7add13550222'), 'nome': 'cliente -6', 'idade': 36, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5351fb7add13550223'), 'nome': 'cliente -7', 'idade': 37, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5351fb7add13550224'), 'nome': 'cliente -8', 'idade': 38, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5451fb7add13550225'), 'nome': 'cliente -9', 'idade': 39, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5451fb7add13550226'), 'nome': 'cliente -10', 'idade': 40, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5451fb7add13550227'), 'nome': 'cliente -11', 'idade': 41, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5451fb7add13550228'), 'nome': 'cliente -12', 'idade': 42, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5451fb7add13550229'), 'nome': 'cliente -13', 'idade': 43, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5451fb7add1355022a'), 'nome': 'cliente -14', 'idade': 44, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5451fb7add1355022b'), 'nome': 'cliente -15', 'idade': 45, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5551fb7add1355022c'), 'nome': 'cliente -16', 'idade': 46, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5551fb7add1355022d'), 'nome': 'cliente -17', 'idade': 47, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5551fb7add1355022e'), 'nome': 'cliente -18', 'idade': 48, 'emancipado': 'SIM'}
{'_id': ObjectId('638a0d5551fb7add1355022f'), 'nome': 'cliente -19', 'idade': 49, 'emancipado': 'SIM'}

In [23]:
colecao.delete_many({'emancipado':'NAO'})

In [24]:
busca = {'idade':{'$lte':18}}

doc = colecao.find(busca)

for x in doc:
  print(x)

{'_id': ObjectId('638a0d5151fb7add13550210'), 'nome': 'cliente 12', 'idade': 18, 'emancipado': 'SIM'}

In [25]:
# a resolver 
#colecao.delete_one({'_id':'63890eb2d776fa1aa2e04b30'})

In [26]:
#Dropa toda a colecao
colecao.drop()

##Integração com Pandas

In [27]:
import pandas as pd
import numpy as np

##Extrair do mongo

In [28]:
#Extrair de uma colecao
cursor = colecao.find({})
dfmongo = pd.DataFrame(list(cursor))

In [29]:
dfmongo

Empty DataFrame
Columns: []
Index: []

#Base Cenipa

In [43]:
df = pd.read_csv('https://storage.googleapis.com/bc26-bucket/ocorrencia.csv',sep=';',encoding = 'ISO-8859-1',parse_dates=['ocorrencia_dia'],dayfirst=True)

In [44]:
#Dropagem das colunas que tinham dados repetidos
df.drop(['codigo_ocorrencia1','codigo_ocorrencia2','codigo_ocorrencia3','codigo_ocorrencia4'],axis=1,inplace=True)
#Drop de colunas que não serão utilizadas
df.drop(['ocorrencia_latitude','ocorrencia_longitude','investigacao_aeronave_liberada','investigacao_status','divulgacao_relatorio_numero','divulgacao_relatorio_publicado','divulgacao_dia_publicacao'],axis=1,inplace=True)

In [45]:
#Renomear as colunas
df.rename(columns={'codigo_ocorrencia':'ocorrencia','ocorrencia_classificacao':'classificacao','ocorrencia_cidade':'cidade','ocorrencia_uf':'uf','ocorrencia_pais':'pais','ocorrencia_aerodromo':'aerodromo'},inplace=True)
df.rename(columns={'ocorrencia_dia':'dia','ocorrencia_hora':'horario','total_recomendacoes':'recomendacoes','total_aeronaves_envolvidas':'n_aeronaves','ocorrencia_saida_pista':'saida_pista'},inplace=True)

In [46]:
df.replace(['***','**NI'],pd.NA,inplace=True)

In [47]:
df.replace(pd.NA,np.NaN,inplace=True)

In [48]:
df.dtypes

ocorrencia                int64
classificacao            object
cidade                   object
uf                       object
pais                     object
aerodromo                object
dia              datetime64[ns]
horario                  object
recomendacoes             int64
n_aeronaves               int64
saida_pista              object
dtype: object

In [35]:
#converter coluna dia
# df['dia'] = df['dia'].astype(str)

In [36]:
#criar a coluna de data
# df['data'] = pd.to_datetime(df['dia']+' '+df['horario'])

In [37]:
# df.drop(['dia','horario'],axis=1,inplace=True)

In [49]:
df

,ocorrencia,classificacao,cidade,uf,pais,aerodromo,dia,horario,recomendacoes,n_aeronaves,saida_pista
0,81027,INCIDENTE GRAVE,SÃO PAULO,SP,BRASIL,SBSP,2022-10-09,16:30:00,0,1,SIM
1,81030,INCIDENTE,VITÓRIA,ES,BRASIL,SBVT,2022-10-09,16:20:00,0,1,NÃO
2,81023,INCIDENTE GRAVE,AMERICANA,SP,BRASIL,SDAI,2022-10-06,15:30:00,0,1,SIM
3,81029,INCIDENTE,BELO HORIZONTE,MG,BRASIL,SBBH,2022-10-06,00:44:00,0,1,NÃO
4,81025,INCIDENTE,MANAUS,AM,BRASIL,SBEG,2022-10-05,20:56:00,0,1,NÃO
...,...,...,...,...,...,...,...,...,...,...,...
6764,40324,INCIDENTE,PELOTAS,RS,BRASIL,SBPK,2010-01-05,19:25:00,0,1,NÃO
6765,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,BRASIL,NaN,2010-01-04,17:30:00,0,1,NÃO
6766,40211,INCIDENTE,RIO DE JANEIRO,RJ,BRASIL,NaN,2010-01-03,12:00:00,0,1,NÃO
6767,40349,INCIDENTE,BELÉM,PA,BRASIL,SBBE,2010-01-03,11:05:00,0,1,NÃO
6768,40351,INCIDENTE,RIO DE JANEIRO,RJ,BRASIL,SBRJ,2010-01-03,03:00:00,0,1,NÃO

In [39]:
# df2 = df[['ocorrencia','data','aerodromo','cidade','uf','classificacao','n_aeronaves','saida_pista','recomendacoes']]

In [40]:
# df2

,ocorrencia,data,aerodromo,cidade,uf,classificacao,n_aeronaves,saida_pista,recomendacoes
0,81027,2022-10-09 16:30:00,SBSP,SÃO PAULO,SP,INCIDENTE GRAVE,1,SIM,0
1,81030,2022-10-09 16:20:00,SBVT,VITÓRIA,ES,INCIDENTE,1,NÃO,0
2,81023,2022-10-06 15:30:00,SDAI,AMERICANA,SP,INCIDENTE GRAVE,1,SIM,0
3,81029,2022-10-06 00:44:00,SBBH,BELO HORIZONTE,MG,INCIDENTE,1,NÃO,0
4,81025,2022-10-05 20:56:00,SBEG,MANAUS,AM,INCIDENTE,1,NÃO,0
...,...,...,...,...,...,...,...,...,...
6764,40324,2010-01-05 19:25:00,SBPK,PELOTAS,RS,INCIDENTE,1,NÃO,0
6765,39527,2010-01-04 17:30:00,NaN,LUCAS DO RIO VERDE,MT,ACIDENTE,1,NÃO,0
6766,40211,2010-01-03 12:00:00,NaN,RIO DE JANEIRO,RJ,INCIDENTE,1,NÃO,0
6767,40349,2010-01-03 11:05:00,SBBE,BELÉM,PA,INCIDENTE,1,NÃO,0
6768,40351,2010-01-03 03:00:00,SBRJ,RIO DE JANEIRO,RJ,INCIDENTE,1,NÃO,0

##Enviar o DataFrame para o mongo

In [50]:
db2 = client['cenipa']
colecaocenipa = db2['tratado']
colecaocenipa.count_documents({})

0

In [51]:
#Enviar o DF para colecao selecionada no mongo
df_dict = df.to_dict("records")

colecaocenipa.insert_many(df_dict)

In [52]:
colecaocenipa.count_documents({})

6769

In [ ]:
for x in colecaocenipa.find():
  print(x)

In [53]:
cursor = colecaocenipa.find({})
dfcenipa = pd.DataFrame(list(cursor))

In [54]:
dfcenipa

,_id,ocorrencia,classificacao,cidade,uf,pais,aerodromo,dia,horario,recomendacoes,n_aeronaves,saida_pista
0,638a0de451fb7add13551ca1,81027,INCIDENTE GRAVE,SÃO PAULO,SP,BRASIL,SBSP,2022-10-09,16:30:00,0,1,SIM
1,638a0de451fb7add13551ca2,81030,INCIDENTE,VITÓRIA,ES,BRASIL,SBVT,2022-10-09,16:20:00,0,1,NÃO
2,638a0de451fb7add13551ca3,81023,INCIDENTE GRAVE,AMERICANA,SP,BRASIL,SDAI,2022-10-06,15:30:00,0,1,SIM
3,638a0de451fb7add13551ca4,81029,INCIDENTE,BELO HORIZONTE,MG,BRASIL,SBBH,2022-10-06,00:44:00,0,1,NÃO
4,638a0de451fb7add13551ca5,81025,INCIDENTE,MANAUS,AM,BRASIL,SBEG,2022-10-05,20:56:00,0,1,NÃO
...,...,...,...,...,...,...,...,...,...,...,...,...
6764,638a0de451fb7add1355370d,40324,INCIDENTE,PELOTAS,RS,BRASIL,SBPK,2010-01-05,19:25:00,0,1,NÃO
6765,638a0de451fb7add1355370e,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,BRASIL,NaN,2010-01-04,17:30:00,0,1,NÃO
6766,638a0de451fb7add1355370f,40211,INCIDENTE,RIO DE JANEIRO,RJ,BRASIL,NaN,2010-01-03,12:00:00,0,1,NÃO
6767,638a0de451fb7add13553710,40349,INCIDENTE,BELÉM,PA,BRASIL,SBBE,2010-01-03,11:05:00,0,1,NÃO
6768,638a0de451fb7add13553711,40351,INCIDENTE,RIO DE JANEIRO,RJ,BRASIL,SBRJ,2010-01-03,03:00:00,0,1,NÃO