<a href="https://colab.research.google.com/github/AndersonGabrielCalasans/BootCamp-SoulCode-Engenharia-Dados/blob/main/SoulCode/Struct_Type_Window_functions_Gabriel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#STRUCT TYPES

In [2]:
'''
TIPOS BÁSICOS DE DADOS DO SPARK
ByteType() - int
ShortType() - int
IntegerType() - int
LongType() - int
FloatType() - float
DoubleType() - float
StringType() - str
BooleanType - bool
DecimalType() - float
NULL
'''

'\nTIPOS BÁSICOS DE DADOS DO SPARK\nByteType() - int\nShortType() - int\nIntegerType() - int\nLongType() - int\nFloatType() - float\nDoubleType() - float\nStringType() - str\nBooleanType - bool\nDecimalType() - float\nNULL\n'

In [3]:
'''
TIPOS COMPLEXOS DE DADOS
TimestampType() - datetime
DateType() - datetime
ArrayType() - lista, tupla, array
MapType() - dict
StructType() - lista, tupla
StructField() - Tipo do campo
'''

'\nTIPOS COMPLEXOS DE DADOS\nTimestampType() - datetime\nDateType() - datetime\nArrayType() - lista, tupla, array\nMapType() - dict\nStructType() - lista, tupla\nStructField() - Tipo do campo\n'

In [4]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 45 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 64.3 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=ab52fe2a9ccd177d71c9f3b50db976b186b34a6215be10c36b38d8fe0ff391e3
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = (
    SparkSession.builder
                .master('local')
                .appName('structtype')
                .config('spark.ui.port', '4050')
                .getOrCreate()
)

In [7]:
spark

In [8]:
#IMPORTAR OS TIPOS DE VARIÁVEIS DO SPARK
from pyspark.sql.types import *

In [9]:
#AQUI VOCÊ IRÁ MONTAR O ESQUEMA DE COLUNAS CONTENDO OS TIPOS DE CADA COLUNA
esquema = (
    StructType([
        StructField('id', StringType()),
        StructField('nome_musica', StringType()),
        StructField('popularidade', IntegerType()),
        StructField('duracao_musica', IntegerType()),
        StructField('acustica', StringType()),
        StructField('danceabilidade', StringType()),
        StructField('energia', FloatType()),
        StructField('instrumentalidade', StringType()),
        StructField('nota_musical', IntegerType()),
        StructField('ao_vivo', FloatType()),
        StructField('volume', FloatType()),
        StructField('modo_de_audio', IntegerType()),
        StructField('discurso', FloatType()),
        StructField('ritmo', FloatType()),
        StructField('assinatura de tempo', FloatType()),
        StructField('valencia_de_audio', FloatType())
    ])
)

In [11]:
#AQUI IREMOS LER O DATAFRAME COLOCANDO INFERSCHEMA COMO FALSE PARA QUE O SPARK NÃO INFIRA O ESQUEMA
# E ADICIONAMOS schema=esquema, PARA UTILIZARMOS O ESQUEMA QUE CRIAMOS ANTERIORMENTE
df = (
    spark.read.format('csv')
              .option('header', 'true')
              .option('inferschema', 'false')
              .option('delimiter', ',')
              .load('/content/sample_data', schema = esquema)
)

In [12]:
#COMANDO PARA VERIFICAR O ESQUEMA DO DATAFRAME
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- nome_musica: string (nullable = true)
 |-- popularidade: integer (nullable = true)
 |-- duracao_musica: integer (nullable = true)
 |-- acustica: string (nullable = true)
 |-- danceabilidade: string (nullable = true)
 |-- energia: float (nullable = true)
 |-- instrumentalidade: string (nullable = true)
 |-- nota_musical: integer (nullable = true)
 |-- ao_vivo: float (nullable = true)
 |-- volume: float (nullable = true)
 |-- modo_de_audio: integer (nullable = true)
 |-- discurso: float (nullable = true)
 |-- ritmo: float (nullable = true)
 |-- assinatura de tempo: float (nullable = true)
 |-- valencia_de_audio: float (nullable = true)

In [13]:
df.show(truncate=False)

+---+-----------+------------+--------------+--------+--------------+-------+-----------------+------------+-------+------+-------------+--------+-----+-------------------+-----------------+
|id |nome_musica|popularidade|duracao_musica|acustica|danceabilidade|energia|instrumentalidade|nota_musical|ao_vivo|volume|modo_de_audio|discurso|ritmo|assinatura de tempo|valencia_de_audio|
+---+-----------+------------+--------------+--------+--------------+-------+-----------------+------------+-------+------+-------------+--------+-----+-------------------+-----------------+
|5  |0          |0           |0             |0       |0             |0.0    |0                |0           |0.0    |0.0   |0            |0.0     |0.0  |0.0                |0.0              |
|7  |0          |0           |0             |0       |0             |0.0    |0                |0           |0.0    |0.0   |0            |0.0     |0.0  |0.0                |0.0              |
|9  |0          |0           |0             |0       |0             |0.0    |0                |0           |0.0    |0.0   |0            |0.0     |0.0  |0.0                |0.0              |
|5  |0          |0           |0             |0       |0             |0.0    |0                |0           |0.0    |0.0   |0            |0.0     |0.0  |0.0                |0.0              |
|2  |0          |0           |0             |0       |0             |0.0    |0                |0           |0.0    |0.0   |0            |0.0     |0.0  |0.0                |0.0              |
|0  |0          |0           |0             |0       |0             |0.0    |0                |0           |0.0    |0.0   |0            |0.0     |0.0  |0.0                |0.0              |
|6  |0          |0           |0             |0       |0             |0.0    |0                |0           |0.0    |0.0   |0            |0.0     |0.0  |0.0                |0.0              |
|5  |0          |0           |0             |0       |0             |0.0    |0                |0           |0.0    |0.0   |0            |0.0     |0.0  |0.0                |0.0              |
|5  |0          |0           |0             |0       |0             |0.0    |0                |0           |0.0    |0.0   |0            |0.0     |0.0  |0.0                |0.0              |
|2  |0          |0           |0             |0       |0             |0.0    |0                |0           |0.0    |0.0   |0            |0.0     |0.0  |0.0                |0.0              |
|7  |0          |0           |0             |0       |0             |0.0    |0                |0           |0.0    |0.0   |0            |0.0     |0.0  |0.0                |0.0              |
|7  |0          |0           |0             |0       |0             |0.0    |0                |0           |0.0    |0.0   |0            |0.0     |0.0  |0.0                |0.0              |
|6  |0          |0           |0             |0       |0             |0.0    |0                |0           |0.0    |0.0   |0            |0.0     |0.0  |0.0                |0.0              |
|8  |0          |0           |0             |0       |0             |0.0    |0                |0           |0.0    |0.0   |0            |0.0     |0.0  |0.0                |0.0              |
|9  |0          |0           |0             |0       |0             |0.0    |0                |0           |0.0    |0.0   |0            |0.0     |0.0  |0.0                |0.0              |
|3  |0          |0           |0             |0       |0             |0.0    |0                |0           |0.0    |0.0   |0            |0.0     |0.0  |0.0                |0.0              |
|5  |0          |0           |0             |0       |0             |0.0    |0                |0           |0.0    |0.0   |0            |0.0     |0.0  |0.0                |0.0              |
|7  |0          |0           |0             |0       |0             |0.0    |0                |0           |0.0    |0.0   |0            |0.0     |0.0  |0.0                |0.0              |
|6  |0          |0           |0             |0       |0             |0.0    |0                |0           |0.0    |0.0   |0            |0.0     |0.0  |0.0                |0.0              |
|9  |0          |0           |0             |0       |0             |0.0    |0                |0           |0.0    |0.0   |0            |0.0     |0.0  |0.0                |0.0              |
+---+-----------+------------+--------------+--------+--------------+-------+-----------------+------------+-------+------+-------------+--------+-----+-------------------+-----------------+
only showing top 20 rows

In [20]:
#WINDOW FUNCTIONS
from pyspark.sql.window import Window
import pyspark.sql.functions as F

In [22]:
schema = ['nome', 'departamento', 'estado', 'salario']

dados = [('Anderson', 'vendas', 'SP', 9000),
         ('Kennedy', 'vendas', 'RJ', 4500),
         ('Luciana', 'vendas', 'SP', 4500),
         ('Marta', 'vendas', 'SP', 4500),
         ('João', 'vendas', 'SP', 4500),
         ('Diego', 'vendas', 'SP', 4500),
         ('Marilia', 'vendas', 'SP', 1200),
         ('Gustavo', 'financeiro', 'AM', 8000),
         ('Pedro', 'financeiro', 'AM', 2750),
         ('Juliana', 'financeiro', 'MG', 3000),
         ('Leticia', 'financeiro', 'RJ', 7500),
         ('Oswaldo', 'marketing', 'RJ', 2450),
         ('Denis', 'marketing', 'MG', 1300)
         
        ]

In [23]:
df2 = spark.createDataFrame(dados, schema)

In [24]:
df2.show()

+--------+------------+------+-------+
|    nome|departamento|estado|salario|
+--------+------------+------+-------+
|Anderson|      vendas|    SP|   9000|
| Kennedy|      vendas|    RJ|   4500|
| Luciana|      vendas|    SP|   4500|
|   Marta|      vendas|    SP|   4500|
|    João|      vendas|    SP|   4500|
|   Diego|      vendas|    SP|   4500|
| Marilia|      vendas|    SP|   1200|
| Gustavo|  financeiro|    AM|   8000|
|   Pedro|  financeiro|    AM|   2750|
| Juliana|  financeiro|    MG|   3000|
| Leticia|  financeiro|    RJ|   7500|
| Oswaldo|   marketing|    RJ|   2450|
|   Denis|   marketing|    MG|   1300|
+--------+------------+------+-------+

In [27]:
#CRIAR UMA PARTIÇÃO SOBRE O DATAFRAME PARA UTILIZAR ALGUM TIPO DE CLASSIFICAÇÃO
w0 = Window.partitionBy(F.col('departamento')).orderBy(F.col('salario').desc())

In [28]:
# 1) ROW_NUMBER - RETORNA O NÚMERO DA LINHA DE ACORDO COM A PARTIÇÃO CRIADA
df3 = df2.withColumn('numero_linha', F.row_number().over(w0))

In [29]:
df3.show()

+--------+------------+------+-------+------------+
|    nome|departamento|estado|salario|numero_linha|
+--------+------------+------+-------+------------+
| Gustavo|  financeiro|    AM|   8000|           1|
| Leticia|  financeiro|    RJ|   7500|           2|
| Juliana|  financeiro|    MG|   3000|           3|
|   Pedro|  financeiro|    AM|   2750|           4|
| Oswaldo|   marketing|    RJ|   2450|           1|
|   Denis|   marketing|    MG|   1300|           2|
|Anderson|      vendas|    SP|   9000|           1|
| Kennedy|      vendas|    RJ|   4500|           2|
| Luciana|      vendas|    SP|   4500|           3|
|   Marta|      vendas|    SP|   4500|           4|
|    João|      vendas|    SP|   4500|           5|
|   Diego|      vendas|    SP|   4500|           6|
| Marilia|      vendas|    SP|   1200|           7|
+--------+------------+------+-------+------------+

In [31]:
# RANK
df3 = df3.withColumn('rank',F.rank().over(w0))
df3.show()

+--------+------------+------+-------+------------+----+
|    nome|departamento|estado|salario|numero_linha|rank|
+--------+------------+------+-------+------------+----+
| Gustavo|  financeiro|    AM|   8000|           1|   1|
| Leticia|  financeiro|    RJ|   7500|           2|   2|
| Juliana|  financeiro|    MG|   3000|           3|   3|
|   Pedro|  financeiro|    AM|   2750|           4|   4|
| Oswaldo|   marketing|    RJ|   2450|           1|   1|
|   Denis|   marketing|    MG|   1300|           2|   2|
|Anderson|      vendas|    SP|   9000|           1|   1|
| Kennedy|      vendas|    RJ|   4500|           2|   2|
| Luciana|      vendas|    SP|   4500|           3|   2|
|   Marta|      vendas|    SP|   4500|           4|   2|
|    João|      vendas|    SP|   4500|           5|   2|
|   Diego|      vendas|    SP|   4500|           6|   2|
| Marilia|      vendas|    SP|   1200|           7|   7|
+--------+------------+------+-------+------------+----+

In [33]:
# DENSE_RANK
df3 = df3.withColumn('dense_rank', F.dense_rank().over(w0))
df3.show()

+--------+------------+------+-------+------------+----+----------+
|    nome|departamento|estado|salario|numero_linha|rank|dense_rank|
+--------+------------+------+-------+------------+----+----------+
| Gustavo|  financeiro|    AM|   8000|           1|   1|         1|
| Leticia|  financeiro|    RJ|   7500|           2|   2|         2|
| Juliana|  financeiro|    MG|   3000|           3|   3|         3|
|   Pedro|  financeiro|    AM|   2750|           4|   4|         4|
| Oswaldo|   marketing|    RJ|   2450|           1|   1|         1|
|   Denis|   marketing|    MG|   1300|           2|   2|         2|
|Anderson|      vendas|    SP|   9000|           1|   1|         1|
| Kennedy|      vendas|    RJ|   4500|           2|   2|         2|
| Luciana|      vendas|    SP|   4500|           3|   2|         2|
|   Marta|      vendas|    SP|   4500|           4|   2|         2|
|    João|      vendas|    SP|   4500|           5|   2|         2|
|   Diego|      vendas|    SP|   4500|           6|   2|         2|
| Marilia|      vendas|    SP|   1200|           7|   7|         3|
+--------+------------+------+-------+------------+----+----------+

In [34]:
# LAG
#Retorna duas posições atrás
df3 = df3.withColumn('lag', F.lag('salario', 2).over(w0))
df3.show()

+--------+------------+------+-------+------------+----+----------+----+
|    nome|departamento|estado|salario|numero_linha|rank|dense_rank| lag|
+--------+------------+------+-------+------------+----+----------+----+
| Gustavo|  financeiro|    AM|   8000|           1|   1|         1|null|
| Leticia|  financeiro|    RJ|   7500|           2|   2|         2|null|
| Juliana|  financeiro|    MG|   3000|           3|   3|         3|8000|
|   Pedro|  financeiro|    AM|   2750|           4|   4|         4|7500|
| Oswaldo|   marketing|    RJ|   2450|           1|   1|         1|null|
|   Denis|   marketing|    MG|   1300|           2|   2|         2|null|
|Anderson|      vendas|    SP|   9000|           1|   1|         1|null|
| Kennedy|      vendas|    RJ|   4500|           2|   2|         2|null|
| Luciana|      vendas|    SP|   4500|           3|   2|         2|9000|
|   Marta|      vendas|    SP|   4500|           4|   2|         2|4500|
|    João|      vendas|    SP|   4500|           5|   2|         2|4500|
|   Diego|      vendas|    SP|   4500|           6|   2|         2|4500|
| Marilia|      vendas|    SP|   1200|           7|   7|         3|4500|
+--------+------------+------+-------+------------+----+----------+----+

In [35]:
# LEAD
# retorna duas posições a frente
df3 = df3.withColumn('lead', F.lead('salario', 2).over(w0))
df3.show()

+--------+------------+------+-------+------------+----+----------+----+----+
|    nome|departamento|estado|salario|numero_linha|rank|dense_rank| lag|lead|
+--------+------------+------+-------+------------+----+----------+----+----+
| Gustavo|  financeiro|    AM|   8000|           1|   1|         1|null|3000|
| Leticia|  financeiro|    RJ|   7500|           2|   2|         2|null|2750|
| Juliana|  financeiro|    MG|   3000|           3|   3|         3|8000|null|
|   Pedro|  financeiro|    AM|   2750|           4|   4|         4|7500|null|
| Oswaldo|   marketing|    RJ|   2450|           1|   1|         1|null|null|
|   Denis|   marketing|    MG|   1300|           2|   2|         2|null|null|
|Anderson|      vendas|    SP|   9000|           1|   1|         1|null|4500|
| Kennedy|      vendas|    RJ|   4500|           2|   2|         2|null|4500|
| Luciana|      vendas|    SP|   4500|           3|   2|         2|9000|4500|
|   Marta|      vendas|    SP|   4500|           4|   2|         2|4500|4500|
|    João|      vendas|    SP|   4500|           5|   2|         2|4500|1200|
|   Diego|      vendas|    SP|   4500|           6|   2|         2|4500|null|
| Marilia|      vendas|    SP|   1200|           7|   7|         3|4500|null|
+--------+------------+------+-------+------------+----+----------+----+----+